In [3]:
import numpy as np
import pandas as pd
import pymysql
from datetime import datetime

In [4]:
fecha_actual = datetime.now()
fecha = fecha_actual.strftime("%Y_%m_%d")

In [6]:
sql_comportamiento = """
select *
from
	(select ca.*, cd.saldo_pendiente_total as saldo, 
    cd.total_pagado_capital as 'capital_pagado', 
    cd.saldo_pendiente_capital as 'capital_pendiente',
    cd.total_pagado_capital + cd.saldo_pendiente_capital as 'capital',
    1 - cd.total_pagado_capital / (cd.total_pagado_capital + cd.saldo_pendiente_capital)  as 'perdida_cosecha',
    cd.dias_atraso,cd.fecha,cd.status,
	cd.fecha_aut_linea as fecha_inicio_relacion
    -- cd.reestructurado,pagos_anticipados_u4p,pagos_en_tiempo_u4p,
    -- pagos_destiempo_u4p,pagos_pendientes_u4p
	from
	(
	select 
	cas.id_distribuidor, 
	max(cas.id_red) as 'id_red', 
	cas.id_asociado as id_operacion,
	max(cas.tipo_prestamo) as 'tipo_prestamo',
	max(cas.fin_credito) as fecha_cierre,
	max(cas.dispersion) as fecha_de_dispersion
	from (
		select 
		if(tipo_prestamo = 'PRESTAMO PERSONAL RED', id_distribuidor_linea_de_credito, id_distribuidor) as 'id_distribuidor', 
		id_distribuidor as 'id_red',
		tipo_prestamo,
		fin_credito,
		dispersion,
		id_asociado
		from colocacion_asociado
	) as cas 
	group by 
		cas.id_distribuidor, 
		cas.id_asociado
	) ca
	left join cartera_distribuidor cd on ca.id_red = cd.id_distribuidor
	where -- cd.fecha = '2023-08-25'
	fecha_de_dispersion>='2021-07-01'
	-- and cd.fecha >= fecha_de_dispersion 
    and cd.fecha = DATE_ADD(fecha_cierre, INTERVAL 4 MONTH)

) as qry    
"""

**Extrayendo información de comportamiento**

Toma tiempo

In [ ]:
cnx = pymysql.connect(host='159.89.90.197', port = 3306, user='antonio_diaz', passwd="4nT0ni_0.dZ",
                               charset='utf8',db = 'volana')
cursor = cnx.cursor()
cursor.execute(sql_comportamiento)
data_comportamiento = cursor.fetchall()
data_comportamiento = pd.DataFrame(data_comportamiento, columns=[i[0] for i in cursor.description])
cnx.close()

In [ ]:
data_comportamiento.to_csv(f"./data/raw/data_comportamiento_{fecha}_raw.csv", index = False)

In [ ]:
data_comportamiento.head(1)

**Describiendo el dataset**

In [ ]:
print(f"Filas: {data_comportamiento.shape[0]}")
print(f"\nConteo: \n{data_comportamiento.tipo_prestamo.value_counts()}")

**Cruzando con demográficos**

In [ ]:
ids = ", ".join(data_comportamiento.id_distribuidor.unique())

In [63]:
sql_demograficos = f"""
 SELECT * FROM
    (select id, fecha_nacimiento,
           estado, sucursal, 
           escolaridad, estado_civil, dependientes, tipo_vivienda,
            sexo,
           tiempo_vivienda, ingreso_neto, experiencia,
           tipo_negocio, tiempo_op_negocio,capacidad_pago_semanal
           from demograficos_distribuidores 
    UNION
    select id, fecha_nacimiento,
           estado, sucursal, 
           escolaridad, estado_civil, dependientes, tipo_vivienda,
           sexo,
           tiempo_vivienda, ingreso_neto, experiencia,
           tipo_negocio, tiempo_op_negocio, capacidad_pago_semanal
           from cc_prospectos_demograficos
    ) as pen
     where
    pen.id in ({ids})
"""

In [64]:
cnx = pymysql.connect(host='159.89.90.197', port = 3306, user='antonio_diaz', passwd="4nT0ni_0.dZ",
                               charset='utf8',db = 'volana')
cursor = cnx.cursor()
cursor.execute(sql_demograficos)
data_demo = cursor.fetchall()
data_demo = pd.DataFrame(data_demo, columns=[i[0] for i in cursor.description])
cnx.close()

In [65]:
data_demo = data_demo.rename(columns = {"id":"id_distribuidor"})

In [66]:
data_demo.to_csv(f"./data/raw/data_demografica_{fecha}_raw.csv", index = False)

In [31]:
data_demo.head(1)

,id,fecha_nacimiento,ocupacion,estado,sucursal,escolaridad,estado_civil,dependientes,tipo_vivienda,sexo,tiempo_vivienda,ingreso_neto,experiencia,tipo_negocio,tiempo_op_negocio,capacidad_pago_semanal
0,116,1969-06-12,comerciante,México,CHIMALHUACAN 2,Bachillerato,Divorciada (o),0,Propia,FEMENINO,40 AÑOS 1 MESES,$0.00,NO,ABARROTES/MISCELANEAS/PERECEDEROS,10 AÑOS 12 MESES,NaN

**Describiendo el dataset**

In [34]:
np.setdiff1d(data_comportamiento.id_distribuidor, data_demo.id_distribuidor).shape[0]

48

In [35]:
print(f"Filas: {data_demo.shape[0]}")
print(f"\nConteo:{data_demo.id_distribuidor.nunique()}")

Filas: 9024

Conteo:
9018

Hay 48 personas que se perderán en el camino por no tener información demográfica

## **Cruzando con círculo de crédito**

In [ ]:
sql_cc = f"""
SELECT consultas.id_distribuidor, cuentas.*
FROM
 (SELECT 
	folio, 
	sum(SaldoVencido) as 'saldo_vencido_total', 
    sum(NumeroPagosVencidos) as 'pagos_vencidos',
    count(folioOtorgante) as 'creditos_totales',
    count(ClavePrevencion) as 'creditos_con_claves_prevencion',
    COUNT(IF(SaldoVencido = 0, NULL, 1)) as 'creditos_completados_con_atraso',
    COUNT(IF(SaldoVencido = 0, 1, NULL)) as 'creditos_completados_sin_atraso'
 FROM cc_cuentas
 GROUP BY folio) as cuentas
JOIN (select max(folio) as 'folio', id_distribuidor from cc_consultas_efectuadas group by id_distribuidor) as consultas
 ON cuentas.folio = consultas.folio
 where consultas.id_distribuidor in ({ids})
 """

In [ ]:
cnx = pymysql.connect(host='159.89.90.197', port = 3306, user='antonio_diaz', passwd="4nT0ni_0.dZ",
                               charset='utf8',db = 'volana')
cursor = cnx.cursor()
cursor.execute(sql_cc)
data_cc = cursor.fetchall()
data_cc = pd.DataFrame(data_cc, columns=[i[0] for i in cursor.description])
cnx.close()

In [ ]:
data_cc.to_csv(f"./data/raw/data_cc_{fecha}_raw.csv", index = False)

In [ ]:
data_cc.head(1)

In [54]:
np.setdiff1d(data_comportamiento.id_distribuidor, data_cc.id_distribuidor).shape[0]

5016

In [55]:
np.setdiff1d(data_demo.id_distribuidor, data_cc.id_distribuidor).shape[0]

4978

In [46]:
print(f"Filas: {data_cc.shape[0]}")
print(f"\nConteo:{data_cc.id_distribuidor.nunique()}")

Filas: 4459

Conteo:4459

Hay muy pocos que tienen consultas de CC, que tendremos que quitar

In [58]:
np.intersect1d(np.intersect1d(data_comportamiento.id_distribuidor, data_demo.id_distribuidor),data_cc.id_distribuidor).shape[0]

4040

Tenemos solo 4040 registros ejectivos con CC, demográficos y comportamiento